.jumbotron {
    margin-bottom: 0px;
    background-image: url('../IMG/pizza.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

.jumbotron > h1 {
    background-color: rgba(169, 169, 169, 0.3 );
    text-align: center;
}


