
    /* selector for id="container" */
    #container {
        margin: 50px auto;
        width: 500px;
        padding: 10px;
    }

    /*  selector for all "h1" elements
        that are a descendent of id="container"
        and have a class of "fancy-header" */
    h1.fancy-header {
        color: blue;
        text-decoration: underline;
        text-align: center;
        background-color: #00FF00;

    }

    h2.fancy-header {
        color: purple;
        text-decoration: underline;
        text-align: center;
        background-color: #fff490;
    }
    /* selector for all "em" elements */
    em {
        font-weight: bold;
        text-align: center;
    }

    ul {
        font-family: "Agency FB";
        list-style-position: inside;
        text-align: center;
        list-style-type: circle;
    }

    ol {
        font-family: Bastion;
        list-style-type: lower-roman;
        list-style-position: inside;
        text-align: center;
    }

    /* selector for all elements with class="article" */
    article {

        display: table;
        font-family: "Courier New";
        text-align: center;
        margin: 0px auto 0px auto;
        background-color: aquamarine;
    }

    /*  selector for all "anchor" elements
        that are a direct child of an element with class="article" */
    table, td, tr  {
        font-family: AcmeFont;
        font-size: larger;
        list-style-position: outside;
        text-align: center;
        border: 3px solid pink;
    }
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    body {

        background-image: url("https://images.pexels.com/photos/776092/pexels-photo-776092.jpeg?h=350&auto=compress&cs=tinysrgb");
        background-size: repeat;
        
    }

    /* unvisited link (;link) */
    a:link {
        color:red;
    }

    /* visited link (:visited) */
    a:visited {
        color:black;
    }

    /* mouse hover over link (:hover) */
    a:hover {
        color:blue;
        font-size: 20px;
    }

    /* active/selected link (:active) */
    a:active {
        color:green;
        font-size: 15px;
    }
